/* Options for Google Fonts
-Luckiest Guy
-Bangers
-Slackey
-Oregano
-Satisfy
-Cookie */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0
}

/* ! use var for colors */

/* to display later */
.modal, .burger-menu-overlay {
  display: none;
}

/* game grid */
#game-container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  height: 440px;
  width: 800px;
}

.game-grid div {
  border: 1px solid lightgrey;
  display: inline-block;
}

.game-grid div.player {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/scratchy.png')
}

.game-grid div.bomb {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/bomb.png');
}